<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Image to Text Converter</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <div class="right">
       
    </div>
    <div class="left">
       
        <div class="history">
            <h2>Upload History</h2>
            <ul>
                {% for item in history %}
                    <li class="history-item">
                        <h3 class="history-title">{{ item['image_path'] }}</h3>
                        <div class="history-details">
                            <img src="{{ url_for('static', filename=item['image_path']) }}" alt="History Image" class="history-img">
                            <p>{{ item['text'] }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="top">
            <h1 style="text-align: center;">Upload an Image to Extract Text</h1>
        </div>
        <div class="middle">
            <div class="middle-in">
                {% if extracted_text %}
                    <img src="{{ image_url }}" alt="Uploaded Image" id="uploadedImage">
                    <textarea id="extractedText" rows="10" cols="50">{{ extracted_text }}</textarea>
                    <div class="button-container">
                        <button id="downloadButton" class="material-symbols-outlined">download</button>
                        <button id="deleteButton" class="material-symbols-outlined">delete</button>
                    </div>
                {% endif %}
                <div class="down-box">
                    <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
                        <input type="file" name="file" placeholder="Choose an Image" required>
                        <select name="lang">
                            <option value="eng">English</option>
                            <option value="spa">Spanish</option>
                           
                        </select>
                        <button type="submit" value="Upload">
                            <span class="material-symbols-outlined">upload</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="spinner" class="spinner"></div>
    <script>
        document.querySelector('form').addEventListener('submit', function() {
            document.getElementById('spinner').style.display = 'block';
        });

        document.getElementById('downloadButton').addEventListener('click', function() {
            var text = document.getElementById('extractedText').value;
            var blob = new Blob([text], { type: 'text/plain' });
            var anchor = document.createElement('a');
            anchor.download = 'extracted_text.txt';
            anchor.href = (window.webkitURL || window.URL).createObjectURL(blob);
            anchor.click();
        });

        document.getElementById('deleteButton').addEventListener('click', function() {
            document.getElementById('uploadedImage').style.display = 'none';
            document.getElementById('extractedText').style.display = 'none';
            this.style.display = 'none';
            document.getElementById('downloadButton').style.display = 'none';
        });

        document.querySelectorAll('.history-title').forEach(function(title) {
            title.addEventListener('click', function() {
                this.nextElementSibling.classList.toggle('open');
            });
        });
    </script>
</body>
</html>
